.sign-up__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#DIV_1 {
    margin-top: 250px;
    block-size: 1030px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 630px;
    inline-size: 1385.6px;
    max-inline-size: 1385.6px;
    max-width: 1385.6px;
    padding-inline-end: 44.8px;
    padding-inline-start: 44.8px;
    perspective-origin: 692.8px 315px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 692.8px 315px;
    width: 1385.6px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 44.8px;
}

.username {
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.sodienthoai {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px;
}

.form_input {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px;
}

.sign-up__footer {
    margin-top: 400px !important;
}


/*#DIV_1*/

#DIV_2 {
    block-size: 630px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: flex;
    height: 630px;
    inline-size: 1312px;
    margin-inline-end: -8px;
    margin-inline-start: -8px;
    perspective-origin: 656px 315px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 656px 315px;
    width: 1312px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    margin: 0px -8px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_2*/

#DIV_3 {
    block-size: 630px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 630px;
    inline-size: 874.662px;
    max-inline-size: 66.6667%;
    max-width: 66.6667%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    order: 1;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 437.325px 315px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 437.331px 315px;
    width: 874.662px;
    border: 0px none rgb(34, 34, 34);
    flex: 0 0 66.6667%;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 8px;
}


/*#DIV_3*/

#DIV_4 {
    block-size: 477px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: flex;
    height: 477px;
    inline-size: 874.662px;
    margin-inline-end: -8px;
    margin-inline-start: -8px;
    perspective-origin: 437.325px 238.5px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 437.331px 238.5px;
    width: 874.662px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    margin: 0px -8px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_4*/

#DIV_5,
#DIV_10 {
    block-size: 226.5px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 226.5px;
    inline-size: 437.325px;
    max-inline-size: 50%;
    max-width: 50%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 218.663px 113.25px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 218.663px 113.25px;
    width: 437.325px;
    border: 0px none rgb(34, 34, 34);
    flex: 0 0 50%;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 8px;
}


/*#DIV_5, #DIV_10*/

#DIV_6,
#DIV_11,
#DIV_16 {
    block-size: 178.5px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 178.5px;
    inline-size: 421.325px;
    margin-block-start: 48px;
    perspective-origin: 210.663px 89.25px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 210.663px 89.25px;
    width: 421.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 48px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_6, #DIV_11, #DIV_16*/

#IMG_7 {
    block-size: 70px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 70px;
    inline-size: 65px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 32.5px 35px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 32.5px 35px;
    vertical-align: middle;
    width: 65px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#IMG_7*/

#H3_8,
#H3_13,
#H3_18,
#H3_23 {
    block-size: 22.5px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 22.5px;
    inline-size: 421.325px;
    margin-block-end: 14px;
    margin-block-start: 24px;
    perspective-origin: 210.663px 11.25px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 210.663px 11.25px;
    width: 421.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 24px 0px 14px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#H3_8, #H3_13, #H3_18, #H3_23*/

#P_9,
#P_14,
#P_19 {
    block-size: 48px;
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    height: 48px;
    inline-size: 421.325px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 210.663px 24px;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 210.663px 24px;
    width: 421.325px;
    border: 0px none rgb(85, 85, 85);
    margin: 0px;
    outline: rgb(85, 85, 85) none 0px;
}


/*#P_9, #P_14, #P_19*/

#IMG_12,
#IMG_22 {
    block-size: 70px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 70px;
    inline-size: 55px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 27.5px 35px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 27.5px 35px;
    vertical-align: middle;
    width: 55px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#IMG_12, #IMG_22*/

#DIV_15,
#DIV_20 {
    block-size: 250.5px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 250.5px;
    inline-size: 437.325px;
    max-inline-size: 50%;
    max-width: 50%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 218.663px 125.25px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 218.663px 125.25px;
    width: 437.325px;
    border: 0px none rgb(34, 34, 34);
    flex: 0 0 50%;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 8px;
}


/*#DIV_15, #DIV_20*/

#IMG_17 {
    block-size: 70px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 70px;
    inline-size: 60px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 30px 35px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 30px 35px;
    vertical-align: middle;
    width: 60px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#IMG_17*/

#DIV_21 {
    block-size: 202.5px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 202.5px;
    inline-size: 421.325px;
    margin-block-start: 48px;
    perspective-origin: 210.663px 101.25px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 210.663px 101.25px;
    width: 421.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 48px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_21*/

#P_24 {
    block-size: 72px;
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    height: 72px;
    inline-size: 421.325px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 210.663px 36px;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 210.663px 36px;
    width: 421.325px;
    border: 0px none rgb(85, 85, 85);
    margin: 0px;
    outline: rgb(85, 85, 85) none 0px;
}


/*#P_24*/

#DIV_25 {
    block-size: 630px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 630px;
    inline-size: 437.325px;
    max-inline-size: 33.3333%;
    max-width: 33.3333%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    order: 1;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 218.663px 315px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 218.663px 315px;
    width: 437.325px;
    border: 0px none rgb(34, 34, 34);
    flex: 0 0 33.3333%;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 8px;
}


/*#DIV_25*/

#DIV_26 {
    block-size: 740px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 9px 46px 8px, rgba(0, 0, 0, 0.04) 0px 24px 38px 3px, rgba(0, 0, 0, 0.05) 0px 11px 15px -7px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 1030px;
    inline-size: 421.325px;
    margin-block-start: -110px;
    padding-block-end: 32px;
    padding-block-start: 32px;
    padding-inline-end: 32px;
    padding-inline-start: 32px;
    perspective-origin: 210.663px 370px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 210.663px 370px;
    width: 421.325px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 10px;
    margin: -110px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 32px;
}


/*#DIV_26*/

#DIV_27 {
    block-size: 676px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 676px;
    inline-size: 357.325px;
    perspective-origin: 178.663px 338px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 338px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_27*/

#H3_28 {
    block-size: 30px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 30px;
    inline-size: 357.325px;
    margin-block-end: 32px;
    margin-block-start: 0px;
    perspective-origin: 178.663px 15px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 15px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 0px 0px 32px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#H3_28*/

#DIV_29 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 24px;
    inline-size: 357.325px;
    margin-block-end: 16px;
    perspective-origin: 178.663px 12px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 12px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 0px 0px 16px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_29*/

#LABEL_30 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 24px;
    inline-size: 357.325px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 178.663px 12px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 178.663px 12px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#LABEL_30*/

#FORM_31 {
    block-size: 326px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 326px;
    inline-size: 357.325px;
    margin-block-end: 0px;
    perspective-origin: 178.663px 163px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 163px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#FORM_31*/

.DIV_32,
#DIV_38 {
    block-size: 48px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 48px;
    inline-size: 357.325px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 32px;
    perspective-origin: 178.663px 24px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 178.663px 24px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 32px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_32, #DIV_38*/

#INPUT_33,
#INPUT_39 {
    margin-top: -24px;
    appearance: none;
    block-size: 48px;
    border-block-end-color: rgb(230, 230, 230);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(230, 230, 230);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 48px;
    border-end-start-radius: 48px;
    border-inline-end-color: rgb(230, 230, 230);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(230, 230, 230);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 48px;
    border-start-start-radius: 48px;
    height: 48px;
    inline-size: 357.325px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 178.663px 24px;
    text-size-adjust: 100%;
    transform-origin: 178.663px 24px;
    width: 320px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 48px;
    padding: 8px 20px;
    transition: all 0.3s ease 0s;
}

#fullname,
#age,
#address,
#username,
#password,
#confirm-password,
#phone-number {
    margin-top: -24px;
    appearance: none;
    block-size: 48px;
    border-block-end-color: rgb(230, 230, 230);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(230, 230, 230);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 48px;
    border-end-start-radius: 48px;
    border-inline-end-color: rgb(230, 230, 230);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(230, 230, 230);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 48px;
    border-start-start-radius: 48px;
    height: 48px;
    inline-size: 357.325px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 178.663px 24px;
    text-size-adjust: 100%;
    transform-origin: 178.663px 24px;
    width: 320px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 48px;
    padding: 8px 20px;
    transition: all 0.3s ease 0s;
}

#I_fa {
    height: 18px;
    width: 18px;
    margin-right: -23px;
    margin-top: 1px;
    position: absolute;
}


/*#I_3:before*/

#SPAN_34 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 12px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 24px;
    inline-size: 16px;
    inset-block-end: 12px;
    inset-block-start: 12px;
    inset-inline-end: 18.4px;
    inset-inline-start: 322.925px;
    left: 322.925px;
    perspective-origin: 8px 12px;
    position: absolute;
    right: 18.4px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 12px;
    transform-origin: 8px 12px;
    width: 16px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#SPAN_34*/

#I_35 {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    speak: none;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#I_35*/

#SPAN_36,
#SPAN_37,
#SPAN_42 {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    inset-block-start: calc(50% - 4px);
    inset-inline-end: 18.4px;
    perspective-origin: 0px 0px;
    right: 18.4px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: calc(50% - 4px);
    transform-origin: 0px 0px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#SPAN_36, #SPAN_37, #SPAN_42*/

#SPAN_40 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 12px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    display: block;
    height: 24px;
    inline-size: 14px;
    inset-block-end: 12px;
    inset-block-start: 12px;
    inset-inline-end: 18.4px;
    inset-inline-start: 324.925px;
    left: 324.925px;
    perspective-origin: 7px 12px;
    position: absolute;
    right: 18.4px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 12px;
    transform-origin: 7px 12px;
    width: 14px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#SPAN_40*/

#IMG_41 {
    margin-top: -28px;
    block-size: 18.6625px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 18.6625px;
    inline-size: 14px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 7px 9.325px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 7px 9.33125px;
    vertical-align: middle;
    width: 14px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#IMG_41*/

#SPAN_43 {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    inset-block-start: calc(50% - 4px);
    inset-inline-end: 18.4px;
    perspective-origin: 0px 0px;
    right: 18.4px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: calc(50% - 4px);
    transform-origin: 0px 0px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#SPAN_43*/

#register {
    appearance: button;
    block-size: 56px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-end-end-radius: 48px;
    border-end-start-radius: 48px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    border-start-end-radius: 48px;
    border-start-start-radius: 48px;
    box-shadow: rgba(246, 116, 57, 0.4) 0px 4px 12px 0px;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 56px;
    inline-size: 357.325px;
    margin-block-start: 32px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    perspective-origin: 178.663px 28px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 178.663px 28px;
    width: 357.325px;
    background: rgb(239, 239, 239) linear-gradient(90deg, rgb(246, 94, 56) 0px, rgb(246, 138, 57) 51%, rgb(246, 94, 56)) repeat scroll 0% 0% / 200% padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 48px;
    margin: 32px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 30px;
    transition: all 0.3s ease 0s;
}


/*#BUTTON_44*/

#DIV_45 {
    block-size: 78px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 78px;
    inline-size: 357.325px;
    justify-content: center;
    margin-block-start: 32px;
    perspective-origin: 178.663px 39px;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 39px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 32px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_45*/

#DIV_46 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 24px;
    inline-size: 357.325px;
    perspective-origin: 178.663px 12px;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 12px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_46*/


/*#DIV_46:before*/

#A_47 {
    border-block-end-color: rgb(246, 94, 57);
    border-block-start-color: rgb(246, 94, 57);
    border-inline-end-color: rgb(246, 94, 57);
    border-inline-start-color: rgb(246, 94, 57);
    box-sizing: border-box;
    caret-color: rgb(246, 94, 57);
    color: rgb(246, 94, 57);
    column-rule-color: rgb(246, 94, 57);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(246, 94, 57);
    text-emphasis-color: rgb(246, 94, 57);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(246, 94, 57);
    outline: rgb(246, 94, 57) none 0px;
    transition: all 0.3s ease 0s;
}


/*#A_47*/

#DIV_48 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 24px;
    inline-size: 357.325px;
    margin-block-start: 30px;
    perspective-origin: 178.663px 12px;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 12px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 30px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_48*/

#SPAN_49 {
    border-block-end-color: rgb(246, 94, 57);
    border-block-start-color: rgb(246, 94, 57);
    border-inline-end-color: rgb(246, 94, 57);
    border-inline-start-color: rgb(246, 94, 57);
    box-sizing: border-box;
    caret-color: rgb(246, 94, 57);
    color: rgb(246, 94, 57);
    column-rule-color: rgb(246, 94, 57);
    cursor: pointer;
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(246, 94, 57);
    text-emphasis-color: rgb(246, 94, 57);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(246, 94, 57);
    outline: rgb(246, 94, 57) none 0px;
}


/*#SPAN_49*/

#DIV_50 {
    block-size: 200px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 200px;
    inline-size: 357.325px;
    perspective-origin: 178.663px 100px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 100px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_50*/

#DIV_51 {
    block-size: 24px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 24px;
    inline-size: 357.325px;
    justify-content: center;
    margin-block-start: 32px;
    perspective-origin: 178.663px 12px;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 12px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 32px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_51*/

#DIV_52 {
    block-size: 144px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 144px;
    inline-size: 357.325px;
    margin-block-start: 32px;
    perspective-origin: 178.663px 72px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 72px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    margin: 32px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_52*/

#DIV_53,
#DIV_57 {
    block-size: 72px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 72px;
    inline-size: 357.325px;
    perspective-origin: 178.663px 36px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 178.663px 36px;
    width: 357.325px;
    border: 0px none rgb(34, 34, 34);
    outline: rgb(34, 34, 34) none 0px;
}


/*#DIV_53, #DIV_57*/

#DIV_54,
#DIV_58 {
    block-size: 56px;
    border-block-end-color: rgb(230, 230, 230);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(230, 230, 230);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 48px;
    border-end-start-radius: 48px;
    border-inline-end-color: rgb(230, 230, 230);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(230, 230, 230);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 48px;
    border-start-start-radius: 48px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    display: inline-block;
    height: 56px;
    inline-size: 357.325px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 16px;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    perspective-origin: 178.663px 28px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 178.663px 28px;
    width: 357.325px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 48px;
    margin: 489px 0px 0px;
    outline: rgb(85, 85, 85) none 0px;
    padding: 16px 0 30px 30px;
    transition: all 0.3s ease 0s;
}


/*#DIV_54, #DIV_58*/

#SPAN_55,
#SPAN_59 {
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    perspective-origin: 0px 0px;
    pointer-events: none;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
    margin-right: 80px;
}


/*#SPAN_55, #SPAN_59*/

.face {
    position: relative;
    height: 5px;
    width: 5px;
    border-top: 1px solid red;
}

#I_56 {
    block-size: 16px;
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    bottom: 19px;
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    display: block;
    height: 16px;
    inline-size: 16px;
    inset-block-end: 19px;
    inset-block-start: 19px;
    inset-inline-end: 20.4px;
    inset-inline-start: 318.925px;
    left: 318.925px;
    perspective-origin: 8px 8px;
    position: absolute;
    right: 20.4px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 19px;
    transform-origin: 8px 8px;
    width: 16px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
}


/*#I_56*/


/*#I_56:before*/

#svg_60 {
    margin-left: -11px;
    block-size: 16px;
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    bottom: 19px;
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    display: block;
    fill: rgb(85, 85, 85);
    height: 16px;
    inline-size: 16px;
    inset-block-end: 19px;
    inset-block-start: 19px;
    inset-inline-end: 20.4px;
    inset-inline-start: 318.925px;
    left: 318.925px;
    perspective-origin: 8px 8px;
    position: absolute;
    right: 20.4px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    top: 19px;
    transform-origin: 8px 8px;
    vertical-align: middle;
    width: 16px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
    overflow: hidden;
}

#g_61 {
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    fill: none;
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
}


/*#g_61*/

#path_62 {
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    d: path("M 15.85 8.2 C 15.85 7.65 15.8 7.1 15.7 6.55 H 8.15 V 9.65 H 12.45 C 12.25 10.65 11.7 11.5 10.85 12.05 V 14.05 H 13.45 C 14.95 12.65 15.85 10.6 15.85 8.2 Z");
    fill: rgb(85, 126, 191);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
}


/*#path_62*/

#path_63 {
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    d: path("M 8.15 16 C 10.3 16 12.1 15.3 13.45 14.05 L 10.85 12.05 C 10.15 12.55 9.2 12.8 8.15 12.8 C 6.05 12.8 4.3 11.4 3.65 9.5 H 1 V 11.55 C 2.35 14.2 5.05 16 8.15 16 Z");
    fill: rgb(54, 168, 82);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
}


/*#path_63*/

#path_64 {
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    d: path("M 3.7 9.5 C 3.55 9 3.45 8.5 3.45 8 S 3.55 6.95 3.7 6.5 V 4.4 H 1 C 0.45 5.5 0.15 6.7 0.15 8 C 0.15 9.3 0.45 10.5 1 11.6 L 3.7 9.5 Z");
    fill: rgb(249, 188, 21);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
}


/*#path_64*/

#path_65 {
    border-block-end-color: rgb(85, 85, 85);
    border-block-start-color: rgb(85, 85, 85);
    border-inline-end-color: rgb(85, 85, 85);
    border-inline-start-color: rgb(85, 85, 85);
    box-sizing: border-box;
    caret-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    column-rule-color: rgb(85, 85, 85);
    cursor: pointer;
    d: path("M 8.15 3.2 C 9.3 3.2 10.4 3.6 11.2 4.4 L 13.5 2.1 C 12.15 0.8 10.3 0 8.15 0 C 5.05 0 2.35 1.8 1 4.4 L 3.7 6.5 C 4.3 4.6 6.1 3.2 8.15 3.2 Z");
    fill: rgb(234, 69, 53);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    text-emphasis-color: rgb(85, 85, 85);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(85, 85, 85);
    outline: rgb(85, 85, 85) none 0px;
}

.error {
    font-size: 14px;
    color: red;
    text-align: center;
    display: none;
    margin-top: 30px;
}

.error-confirm {
    font-size: 14px;
    color: red;
    text-align: center;
    display: none;
    margin-top: 30px;
}



/*#path_65*/